<! DOCTYPE html>
<html lang="en">

<head>
<title> {{ greet }}, {{ name }} </title>
<link rel="stylesheet" href="static/style.css"/>
</head>

<body>

<H1> {{ greet }} , {{ name }}</H1>
<img src="./static/Logo.jpeg" alt="image" style="width: 170px;">

</body>
</html>